{% extends 'base.html' %}

{% block content %}
    <div class="card">
        <h1 class="card-header">{{ school_details.name }} </h1>
        <div class="card-body">
            <h5 class="card-title">School details</h5>
            <p class="card-text">School Name : {{ school_details.name }}</p>
            <p class="card-text">Principal : {{ school_details.principal }}</p>
            <p class="card-text">Place : {{ school_details.place }}</p>
           
            <a class="btn btn-warning" href="{% url 'cbvapp:update' pk=school_details.pk %}">Update</a>
            <a class="btn btn-danger" href="{% url 'cbvapp:delete' pk=school_details.pk %}">Delete</a>
            <hr>
            <h4>List of Students</h4>
            {% for std in school_details.school.all %}
                <p>{{ std.std_name }} Whose age is {{ std.age }} and scored a marks {{ std.marks }}</p>
            {% endfor %}


        </div>
    </div>

{% endblock %}